
.name1{
   font-size: 15px;
}

.activeNav{
	color:#0055aa;
}

#classAddDel table,#groupList{
	width:900px;
	margin-left:100px;
}

table th,table td{
	text-align: center;
	line-height: 30px;
}

.indent1{
	margin-left:100px;
}

.name2{
	font-size: 15px;
	color:#0055aa;
}

.logout{
  display: inline-block;
  margin-left: 280px;
  margin-top: 15px;
  color: #AAA;
  font-size: 15px;
  font-weight:500;
}
.logout:hover{
   color: #FFF;
   cursor:pointer;
}
