.dymTitle,.littleAttr{
	width:100%;
	text-align: center;
}

.dymTitle h4{
	color:#333;
	font-weight: bold;
}

.littleAttr{
	color:#666;
	margin-top:20px;
}

.littleAttr .littleDis{
	padding:10px 8px 0 8px;	
}

#dynamicContent{
	width:1000px;
	margin:0 auto;
	margin-top:50px;
	line-height: 25px;
	color:#333;
}