.indentCenter{
	width:1150px;
	height:500px;
	margin:0 auto;
	padding-top:20px;
}

.topLeft,.topRight{
	float:left;
}

.topLeft{
	margin-left:50px;
	width:550px;
}

.topLeft h3{
	color:white;
}

.topLeft p{
	color:#ddd;
	line-height: 25px;
}

.topRight{
	margin-left:250px;
	text-align: center;
}

.panel{
	width:250px;
	margin-top:50px;
}

.panel-body{
	background-color: #f6f8f9;
}

.btn-primary{
	width:100px;
	background-color: #64b0c5;
	border:1px solid #64b0c5;
}

#classDynamics{
	width:100%;
}

.dynamicList{
	width:1100px;
	margin:0 auto;
	padding:50px 0 50px 0;
}

#classDynamics h3{
	color:#000;
	font-weight: bold;
}

#dymList{
	margin-top:50px;
}

#dymList h5{
	font-size:13px;
	color:#374659;
	font-weight:bold;
	letter-spacing: 2px;
}

#dymList h5:hover{
	text-decoration: underline;
	cursor:pointer;
	cursor: hand;	
}

#dymList p{
	color:#666;
	font-size:13px;
	margin-top:10px;
}

#dymList img{
	width:20px;
	height:20px;
}

.oneDym{
	height:80px;
	margin-top:30px;
	border-bottom: 1px solid #eee;
}

.teachers{
	width:1200px;
	margin:0 auto;
	padding:50px 0 50px 0;
}

#teacherShow{
	width:100%;
	height:auto;
	background-color: #06406c;
}

#teacherShow h3{
	color:white;
}

.oneTch{
	color:white;
	width:600px;
	height:200px;
	float:left;
	margin-top:50px; 
}

.oneTch img{
	width:130px;
	height:160px;
}

.dis1,.dis2{
	float:left;
}

.dis1{
	width:150px;
}

.dis2{
	width:340px;
}

.oneTch .teacherName{
	font-size: 15px;
	font-weight: bold;
}

.oneTch p{
	width:400px;
	color:#ddd;
}