@charset "UTF-8";
body,div{margin: 0;padding: 0;}/* 去掉浏览器默认样式 */
body{
	background:url("/Excellent/pages/images/background.jpg") no-repeat;
	
}
.container{
	width:400px;
	margin:100px auto;
}
.content-header{
	margin-bottom:50px;
	color:#AAA;
	font-weight:600;
}
.content-body input{
	width:200px;
}

.content-body li{
	list-style:none;
	width:300px;;
}

.content-body label{
	width:50px;
	font-size:12px;
	color:#AAA;
	font-weight:300;
}

.content-body button{
	width: 254px;
	margin-left: 39px;
}

.myinput{
	display:inline-block;
	margin-bottom:8px;
}

.captcha input{
	width:75px;
}
.captcha span{
	font-size:15px;
	color:#777;
}
.captcha span:hover{
	cursor:pointer;	
}

.content-footer{
	padding-left:40px;
	margin-top:30px;
	font-family:arial;
	font-size:10px;
	color:#777;
}



