#recuitList{
	width:1000px;
	margin-left:20px;
}

#recuitList td{
	border:0;
}


.logout{
  display: inline-block;
  margin-left: 280px;
  margin-top: 15px;
  color: #AAA;
  font-size: 15px;
  font-weight:500;
}
.logout:hover{
   color: #FFF;
   cursor:pointer;
}
