.name2{
	font-size: 15px;
	color:#0055aa;
}

#studentList{
	width:900px;
	margin-left:50px;
}

table th,table td{
	text-align: center;
	line-height: 30px;
}

#groupSelect{
	width:150px;
}

.logout{
  display: inline-block;
  margin-left: 280px;
  margin-top: 15px;
  color: #AAA;
  font-size: 15px;
  font-weight:500;
}
.logout:hover{
   color: #FFF;
   cursor:pointer;
}
