#prelook,#headImg{
	margin-left: 1em;
}

#teacherList img{
	width:35px;
	height:45px;
}

#teacherList{
	width:800px;
}

#teacherList td,#teacherList th{
	border:0;
	text-align: center;
	vertical-align: middle;
}