#bannerNav{
	min-width:1200px;
}
.navbar-inverse .navbar-header>span{
	color:#ccc;
	font-weight: bold;
	font-size: 18px;
}
.navbar-inverse .navbar-header>span:hover{
	color:#ccc;
}
.navbar-brand{
   	padding-top:10px;
 }
.navbar-inverse .navbar-nav>li>a{
  	color:#aaa;
  	font-size:15px;
}

.displayNone{
	display:none;
}

.bigButton{
	width:100px;
	height:35px;
	background-color:#0055aa;
	color:#eee;
	border:0;
	font-weight: bold;
	border-radius:3px;
	-webkit-radius:3px;
	-moz-radius:3px;
}

.inputTitle{
	width:1000px;
	height:50px;
	color:#333;
	font-weight:bold;
	border:1px solid #ccc;
	text-indent:1em;
	border-radius:3px;
	-webkit-radius:3px;
	-moz-radius:3px;
}

.pageContent{
	width:1280px;
	margin:0 auto;
	margin-top:20px;
}

.left{
	width:170px;
	margin-right:10px;
}

.left li:hover{
	cursor: hand;
	cursor:pointer;
}

.left,.right{
	float:left;
}

.hoverPointer{
	cursor:pointer;
	cursor:hand;
}

.indent{
	margin-left:50px;
}

textarea{
	resize:none;
}
