/* 管理平台 */
#bannerNav{
	min-width:1280px;
}
.navbar-inverse .navbar-header>span{
	color:#ccc;
	font-weight: bold;
	font-size: 18px;
}
.navbar-inverse .navbar-header>span:hover{
	color:#ccc;
}
.navbar-brand{
   	padding-top:10px;
 }
.navbar-inverse .navbar-nav>li>a{
  	color:#aaa;
  	font-size:15px;
}

.displayNone{
	display:none;
}

.bigButton{
	width:100px;
	height:35px;
	background-color:#0055aa;
	color:#eee;
	border:0;
	font-weight: bold;
	border-radius:3px;
	-webkit-radius:3px;
	-moz-radius:3px;
}

.inputTitle{
	width:1000px;
	height:50px;
	color:#333;
	font-weight:bold;
	border:1px solid #ccc;
	text-indent:1em;
	border-radius:3px;
	-webkit-radius:3px;
	-moz-radius:3px;
}

.pageContent{
	width:1280px;
	margin:0 auto;
	margin-top:20px;
}

.left{
	width:170px;
	margin-right:10px;
}

.left li:hover{
	cursor: hand;
	cursor:pointer;
}

.left,.right{
	float:left;
}

.hoverPointer{
	cursor:pointer;
	cursor:hand;
}

.indent{
	margin-left:50px;
}

textarea{
	resize:none;
}

.titleWidth{
	width:800px;
}

.titleWidth:hover{
	cursor:pointer;
	cursor:hand;
	text-decoration: underline;
}

.active1{
	text-decoration: underline;
}

/* 展示页面 */
#top{
	width:100%;
	background-image: url("../images/background.jpg");
	background-size: cover;
}

.indentCenter1{
	width:1150px;
	height:90px;
	margin:0 auto;
	padding-top:20px;
}

.indentCenter2{
	width:1150px;
	height:auto;
	min-height:670px;
	margin:0 auto;
	padding-top:20px;
}

.pageContent1{
	width:1150px;
	margin:0 auto;
	margin-top:20px;
}

.navbar .navbar-header>span{
	color:#eee;
	font-size: 18px;
}
.navbar .navbar-header>span:hover{
	color:#eee;
}
.navbar-brand{
   	padding-top:10px;
 }
.navbar .navbar-nav>li>a{
  	color:white;
  	font-size:15px;
}
.navbar .navbar-nav>li>a:hover{
	text-decoration:underline;
	background-color: transparent;
}

.center{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.guide{
	width:auto;
	height:50px;
}

.guide img{
	width:20px;
	height:20px;
}

#devidePage .totalNum{
	display: inline-block;
	width:100px;
	margin-top:28px;
}

#devidePage ul,#devidePage .totalNum{
	float:left;
}

table{
	font-family: 宋体;
}